@tailwind base;
@tailwind components;
@tailwind utilities;

.postCard:hover {
    background-color: rgb(224, 129, 129);
}
.postCard:hover .postTitle {
    color: #93C5FD
}
.postCard{
    transition: all 0.6s;
    /* background-color: rgb(214, 13, 103); */
}
.navList .item,.navBrand{
    transition: all 0.3s;
}
.navBrand:hover ,.navList .item:hover{
    color:rgba(239, 68, 68, 0.8);
}
.creator{
    background-color: rgb(85, 71, 97);
    display: inline-block;
    
}
.created{
    font-size: 11px;
}
.ICONS {
    transition: color 0.2s;
}
.ICONS:hover {
    color:#93C5FD;
}